.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-background {
  background: rgb(49, 49, 49); /* You can use any color or even a background image */
  background-size: 100%;   /* Ensures the image covers the entire element */
  background-repeat: no-repeat;
  color:white;
  background-position: center;
  min-height: 100vh; /* Ensures the background covers the entire viewport */
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1{
  margin-Top: 200px;
  margin-Bottom: 10px;
}

p {
  margin: 0;
}

.text-container {
  color:#878a8f
}
/* When the component first appears */
.page-appear {
  opacity: 0;
  transform: translateY(10px);
}

/* During the appear transition */
.page-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease-out;
}

/* You should already have these for enter and exit if needed */
.page-enter {
  opacity: 0;
  transform: translateY(1000px);
  transition: opacity 300ms ease-in;
}

.page-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease-out;
}

.page-exit-active {
  opacity: 0;
  transform: translateY(-1000px);
  transition: opacity 300ms ease-out;
}
